@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;900&display=swap');

html {
  scroll-behavior: smooth;
	margin: 0;
}
body {
  position: relative;
  margin: 0;
  -ms-overflow-style: none;
	font-family: 'Titillium Web', sans-serif !important;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
/* Navigation */
.nav-link.active, .nav-link:hover {
	border-bottom: 3px solid #26addb;
}
/* Landing */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #herosection {
      min-height: 100vh;
      min-width: 100vw;
    }
}
#herosection button:hover a {
  color: white!important;
}
.display-1 {
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 90%,
    #26addb 90%,
    #26addb 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 600ms;
}
.display-1:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
button.nav-link.active {
  color: #26addb!important;
}
/* Todo List Project */
#mylist li {
  list-style: none;
  margin: 3px;
  color: #054a91;
  font-size: 24px;
  border-bottom: 2px solid #054a91;
  cursor: pointer;
  transition: 0.2s;
}
#mylist li:hover {
  background-color: #81a4cd;
  color: white;
}
#mylist span {
  background-color: rgb(253, 122, 122);
  color: white;
}
li.completedtodo {
  text-decoration: line-through;
}
/* Reveal Effect */
.reveal {
  position: relative;
  transform: translateY(140px);
  opacity: 0;
  transition: all 1.5s ease;
}
.reveal.revealsactive {
  transform: translateY(0px);
  opacity: 1;
}